<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarProducto</servlet-name>
        <servlet-class>Administrador.AgregarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarSubproducto</servlet-name>
        <servlet-class>Administrador.AgregarSubproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSubproducto</servlet-name>
        <servlet-class>Administrador.EliminarSubproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarSubproducto</servlet-name>
        <servlet-class>Administrador.ModificarSubproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Administrador.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Administrador.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSubproductos</servlet-name>
        <servlet-class>Administrador.EliminarSubproductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEmpleado</servlet-name>
        <servlet-class>Servlet.CrearEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Servlet.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Servlet.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarCarro</servlet-name>
        <servlet-class>Servlet.SAgregarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarPan</servlet-name>
        <servlet-class>Servlet.SAgregarPan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarSesion</servlet-name>
        <servlet-class>Servlet.SCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEliminarCarrita</servlet-name>
        <servlet-class>Servlet.SEliminarCarrita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEliminarVenta</servlet-name>
        <servlet-class>Servlet.SEliminarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFinalizarCompra</servlet-name>
        <servlet-class>Servlet.SFinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SConfirmarVenta</servlet-name>
        <servlet-class>Servlet.SConfirmarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SConfirmarVentas</servlet-name>
        <servlet-class>Servlet.SConfirmarVentas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarProducto</servlet-name>
        <url-pattern>/AgregarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarSubproducto</servlet-name>
        <url-pattern>/AgregarSubproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSubproducto</servlet-name>
        <url-pattern>/EliminarSubproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarSubproducto</servlet-name>
        <url-pattern>/ModificarSubproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSubproductos</servlet-name>
        <url-pattern>/EliminarSubproductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEmpleado</servlet-name>
        <url-pattern>/CrearEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarCarro</servlet-name>
        <url-pattern>/SAgregarCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarPan</servlet-name>
        <url-pattern>/SAgregarPan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarSesion</servlet-name>
        <url-pattern>/SCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEliminarCarrita</servlet-name>
        <url-pattern>/SEliminarCarrita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEliminarVenta</servlet-name>
        <url-pattern>/SEliminarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFinalizarCompra</servlet-name>
        <url-pattern>/SFinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SConfirmarVenta</servlet-name>
        <url-pattern>/SConfirmarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SConfirmarVentas</servlet-name>
        <url-pattern>/SConfirmarVentas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
